@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body{
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: small;
}
.blue{
    color:#003366;
}
.flex{
    display: flex;
}
.center{
    display: flex;
    justify-content: center;
}
/*Main container*/
.container{
   padding: 0;
} 
h1{
    font-size: 1.6em;
}
/*page head*/
.profile{
    min-height: 75vh;
    display: flex;
} 
/* yangchen */
.right{
    width: 50%;
    background: #fdf5e6;
    text-align: end;
}
.profile img{
    display:flex;
    justify-content: center;
    margin-bottom: 2em;
    width:125px;
    height:130px;
    border-radius: 80px; 
    border-radius: 999px;
    box-shadow: 0 0 50px #adb5bd;
}
button{
    margin: .5em;
    padding: 0.5em;
    background-color: #fdf5e6;
    color:#003366;
    border-radius: .5em;
    border-color: #003366;
    position: relative;
    cursor: pointer;
}
.button:hover {
    background-color: #003366;
    color:#fdf5e6;
}
/*tsering*/
.left{
    color: #fdf5e6;
    width: 50%;
    background: #003366;
}
.left p{
    margin:1em;
    padding: .5em;
    line-height: 1.8em;
}  

/*competences content*/
.competence{
    margin: 1em 0.5em;
    padding: 0.2em;
    text-align: center; 
    min-height: 60vh;
}
.competence h1{
    padding: 1em;
}
.flexitems{
    padding-top: 2rem;
    align-items: center;
    flex-wrap: wrap;
 }
.flexLeft{
    padding: 1em 0 0 0;
}
.flexRight{
    padding: 1em 0 0 0;   
}
.logo{
    padding-left:  0.5em;
    height: 1.3em;
}
.logos{
    padding-left:  0.5em;
    height: 1.9em;
}
.logom{
    padding-left: 0.5em;
    height: 2em
}
.logocss{
    padding-left: 0.5em;
    height: 2.3em
}
.logob{
    padding-left: 0.5em;
    height: 2.8em;
}
.logoxl{
    padding-left: 0.5em;
    height:5em;
}
/*Projects*/
.projects{
    text-align: center;
    padding: 2em 0 6em 0;
    background: #fdf5e6;
}
.card{
    width: 300px;
    box-shadow: .3em .3em .2em .2em #888888;
    margin: 0.6em;
    border-radius: 1em;
    background: #fff;
}
.card img{
    width: 250px;
}
.cardText{
    width: 260px;
    padding: 20px;
    text-align: justify;
    margin: 0 10px;
}
span{
    font-weight: bold;
    line-break: auto ;
}
/*footer*/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:#003366;
    color: white;
  }
  .logoFooter{
    height: 1.5em;
}
  footer ul {
    list-style-type: none;
}
.footerRight{
    width: 50%;
    background: #003366;
}
.footerRight p{
    color:#fdf5e6;
    text-align:left;
}
.footerRight a{
    padding-top:0.6em;
}
.footerLeft{
    width: 50%;
    background: #fdf5e6;
    color: #fdf5e6;
}