@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body{
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}
.blue{
    color:#003366;
}
.flex{
    display: flex;
}
.center{
    display: flex;
    justify-content: center;
}
/*Main container*/
.container{
   padding: 0;
} 
section h1{
    font-size: 3.8em;
}
/*page head*/
.profile{
    min-height: 100vh;
    display: flex;
    justify-content: center;
} 
/* yangchen */
.right{
    padding: 30px 0 30px 0;
    width: 50%;
    background: #fdf5e6;
    text-align: end;
}
.profile img{
    margin:2em;
    width:142px;
    height:150px;
    border-radius: 80px; 
    border-radius: 999px;
    box-shadow: 0 0 50px #adb5bd;
}
button{
    margin: 2em;
    padding: 0.5em;
    background-color: #fdf5e6;
    color:#003366;
    border-radius: .5em;
    border-color: #003366;
    position: relative;
    cursor: pointer;
}
.button:hover {
    background-color: #003366;
    color:#fdf5e6;
}
/*tsering*/
.left{
    padding: 30px 0 30px 0;
    color: #fdf5e6;
    width: 50%;
    background: #003366;
}
.left p{
    margin:4em 0 3em 6em;
    padding: 3em;
    line-height: 1.8em;
}  

/*competences content*/
.competence{
    margin: 50px 5px 50px 5px;
    padding: 5px;
    text-align: center;
    min-height: 80vh;
}
.competence h1{
    padding: 1em;
}
.flexitems{
    padding-top: 4rem;
    align-items: center;
 }

.logodjango{
    padding-left: 1em;
    height: 3em;
}
.logos{
    margin: 1em;
    height: 3em;
}
.logocss{
    margin: 2em;
    height: 3.6em;
}
.logob{
    padding-left: 1em;
    height: 4.3em;
}
.logoxl{
    margin-left: 1em;
    height:5.7em;
}

/*Projects*/
.projects{
    width: 100%;
    padding: 1em;
    text-align: center;
    margin-bottom: 6em;
    background: #fdf5e6;
}
.row1{
  margin: 2em 0;
  justify-content: center;
  flex-wrap: wrap;
}
.card{
    width: 400px;
    box-shadow: .4em .4em .5em .5em #888888;
    margin: 1em;
    border-radius: 8px;
    background: #fff;
}
.card img{
    width: 300px;
}
.cardText{
    width: 330px;
    padding: 20px;
    text-align: justify;
    margin: 0 10px;
}
span{
    font-weight: bold;
    line-break: auto ;
}
/*footer*/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
.logoFooter{
    margin: .5em;
    height: 1.5em;
}
footer ul {
    list-style-type: none;
    margin: 0 1em;
}
.footerRight{
    width: 50%;
    background: #003366;
    text-align: end;
}
.footerLeft{
    color: #fdf5e6;
    width: 50%;
    background: #fdf5e6;
}