@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body{
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: small;
}
.blue{
    color:#003366;
}
.flex{
    display: flex;
}
.center{
    display: flex;
    justify-content: center;
    left: auto;
    right:auto;
}
/*Main container*/
.container{
   padding: 0;
} 
h1{
    font-size: 1.6em;
}
/*page head*/
.profile{
    min-height: 100vh;
    display: flex;
} 
/* yangchen */
.right{
    width: 50%;
    background: #fdf5e6;
    text-align: end;
}
.profile img{
    margin: 3em 0;
    width:125px;
    height:130px;
    border-radius: 80px; 
    border-radius: 999px;
    box-shadow: 0 0 50px #adb5bd;
}
button{
    margin: .5em;
    padding: 0.5em;
    background-color: #fdf5e6;
    color:#003366;
    border-radius: .5em;
    border-color: #003366;
    position: relative;
    cursor: pointer;
}
.button:hover {
    background-color: #003366;
    color:#fdf5e6;
}
/*tsering*/
.left{
    color: #fdf5e6;
    width: 50%;
    background: #003366;
}
.left p{
    margin:1em;
    padding: .5em;
    line-height: 1.8em;
}  

/*competences content*/
.competence{
    margin: 1em 0.5em;
    padding: 0.2em;
    text-align: center;
    min-height: 80vh;
}
.competence h1{
    padding: 2em;
}
.flexitems{
   padding-top: 2rem;
   align-items: center;
}

.logoFooter{
    padding-left: 1em;
    height: 1.5em;
}
.logodjango{
    padding-left:  1em;
    height: 2.5em;
}
.logos{
    padding-left:  1em;
    height: 3em;
}
.logocss{
    padding-left: 1.4em;
    height: 3.6em;
}
.logob{
    padding-left: 1em;
    height: 4em;
}
.logoxl{
    padding-left: 1em;
    height:5.6em;
}
/*Projects*/
.projects{
    text-align: center;
    margin-bottom: 1.5em;
    padding: .5em;
    background: #fdf5e6; 
}
.row1{
    margin: 2em 0;
    justify-content: center;
    flex-wrap: wrap;
  }
.card{
    width: 300px;
    box-shadow: .3em .3em .2em .2em #888888;
    margin: 0.6em;
    border-radius: 1em;
    background: #fff;
}
.card img{
    width: 250px;
}
.cardText{
    width: 260px;
    padding: 20px;
    text-align: justify;
    margin: 0 10px;
}
span{
    font-weight: bold;
    line-break: auto ;
}
/*footer*/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:#fff;
    color: white;
  }